<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Monsterlite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Monster admin lite design, Monster admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
          content="Monster Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Monster Lite Template by WrapPixel</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/monster-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/manage/assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="~/manage/assets/plugins/chartist/dist/chartist.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/manage/assets/css/style.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @RenderSection("Style", required: false)
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin6" style="position: fixed; top: 0; left: 0;">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" asp-controller="dashboard" asp-action="index" asp-area="Manage">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/manage/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />

                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text -->
                            <img src="~/manage/assets/images/logo-text.png" alt="homepage" class="dark-logo" />

                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                       href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">

                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav" style="margin: auto;">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->

                    </ul>

                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin6" style="height: 100vh; position: fixed; top: 0; left: 0;">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" style="overflow: hidden auto">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" style="flex-direction: column;">
                        <!-- User Profile-->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="About" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">About Page</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="Homepage" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">Home Page</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="product" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">Products</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="Blog" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">Blogs</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="tag" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">Tags</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="size" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">Sizes</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="color" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">Colors</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="category" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">Categories</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="speciality" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">Specialities</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="vendor" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">Vendors</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="Setting" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">Settings</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="IntroSlider" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">Intro Slider</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="HomeCounts" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">HomeCounts</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="HomeGalleries" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">HomeGalleries</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="HomeOurClientsSliders" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">HomeOurClientsSliders</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="HomeSpecialCards" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">HomeSpecialCards</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="Review" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">Reviews</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="contact" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">Sended Messages</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="user" asp-action="index" aria-expanded="false">
                                <i class="me-3 far fa-clock fa-fw"
                                   aria-hidden="true"></i><span class="hide-menu">Users</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-area="manage" asp-controller="profile" asp-action="index" aria-expanded="false">
                                <i class="me-3 fa fa-user" aria-hidden="true"></i><span class="hide-menu">Profile</span>
                            </a>
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        @RenderBody()

        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/manage/assets/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/manage/assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/manage/assets/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="~/manage/assets/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/manage/assets/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/manage/assets/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--flot chart-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/manage/assets/plugins/flot/jquery.flot.js"></script>
    <script src="~/manage/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="~/manage/assets/js/pages/dashboards/dashboard1.js"></script>
    <script src="~/manage/assets/js/Script.js"></script>
    @RenderSection("Script", required: false)
</body>

</html>
