@model ResetPasswordVM
<div class="mail">
    <div class="container" id="login">
        <div class="row mt-5 login">
            <div class="col-6" style="margin: 0 auto;">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form method="post" class="w-100" id="loginForm">
                    <div class="form-group w-100">
                        <label asp-for="Email" style="color: #f3f3f3; width: 20%;"></label>
                        <input asp-for="Email" class="form-control mt-3" />
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 viewshopAbutton">Send</button>
                </form>
            </div>

        </div>
    </div>
</div>