@model LoginVM
<p class="col-lg-12" style="color: #c1001c;">How do you want use basket and database ?</p>
<div class="login-basket-inputs row col-lg-12">
    <input type="submit" asp-for="Basket" class="col-lg-4" value="Fix" />
    <input type="submit" asp-for="Basket" class="col-lg-4" value="Database" />
    <input type="submit" asp-for="Basket" class="col-lg-4" value="Basket" />
</div>